.separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_separator {
    width: 20%;
    text-align: center;
    color: gray;
    font-weight: bold;
}

.line_separator {
    width: 35%;
    border: 1px solid #b2b2b2;
}