.navbarHide {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 100vh;
    background: #eeeeee;
    box-shadow: 0 1px 4px black;
    transition: 0.2s;
}

.navbarVisible {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    background: #eeeeee;
    box-shadow: 0 1px 4px black;
    transition: 0.2s;

}

.nav__links_hide {
    margin-left: -300px;
    transition: 0.2s;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.navbar__links {
    transition: 0.2s;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.navlink {
    margin-top: 15px;
    padding: 5px 5px 5px 9px;
    width: 100%;
    transition: 0.2s;
    text-align: start;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
/*.navlink:hover {*/
/*    box-shadow: 1px 2px 4px black;*/
/*}*/
/*.navlink:active {*/
/*    box-shadow: none;*/
/*}*/

.lower_links_wrapper {
    /*padding: 3px;*/
    display: flex;
    /*border: 2px solid #ffffff;*/
    flex-direction: column;
    /*width: 100%;*/
    background: #6f6f6f;
}

.upper_link {
    font-size: 1.3em;
    display: block;
    text-decoration: none;
    color: #6f6f6f;
}

.lower_link {
    display: block;
    text-align: start;
    font-size: 1em;
    text-decoration: none;
    border-bottom: 1px solid white;
    color: #ffffff;
}

.btn_hideNavbar {
    width: 30px;
    height: 30px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background: transparent;
}

.btn_hideNavbar:hover {
    border-radius: 0;
    background: transparent;
    color: #6a6a6a;

}

.btn_hideNavbar:active {
    border-radius: 0;
    background: transparent;
    color: black;
}


.arrow_hideNavbar {
    font-size: 1.4em;

}

